@page
@model BookTracingApplication.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-page="Create">Create New</a>
</p>

<div itemscope itemtype="http://schema.org/Book">
    <a href="alice.html" itemprop="url">http://schema.org/Book</a>
</div>

<table class="table">



    <thead>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
           @*<div class="row">
                <span>
                    Book :
                    @Book.Now.ToString();
                </span>
                <span>
                    Cached Book;
                    @Model.Value.ToString();
                </span>
            </div> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ISBM">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ISBM">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ISBM">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
